<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Data File Extractor</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<nav style="width:100%;white-space: nowrap;" class="navbar navbar-expand-lg navbar-dark">
        <a class="hvr-bounce-in navbar-brand" style="color:#DF691A; font-weight:bold; font-size:200%;" href="@Url.Action("Index","Home")">Data Miner</a>
    </nav>*@
    <div class="">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/css")
    @RenderSection("scripts", required: false)
</body>
</html>



